.bg-dark-new{
    background-color: #4A2E62;
}
.bg-dark-new-footer{
    width: 100%;
}
.bg-dark-new a{
    color: #FFFFFF;
}
html { font-family: 'Roboto', sans-serif; }
div,#root .row{
    margin: 0;
    padding: 0;
}
.heroImage._p0,.middleNavWrapper ._p0,._p0{
    padding: 0;
}
._m0,.row ._m0{
    margin: 0;
}
._left{
    float: left;
}
._right{
    float: right;
}
._tleft{
    text-align: left;
}
._tright{
    text-align: right;
}
.commonCardSubTitle_._p1001020{
    padding: 10px 0px 10px 20px;
}
body{
    background: #EFEFF7 0% 0% no-repeat padding-box!important;
    width: 1260px;
    margin: 0 auto!important;
}
#root ._rootp0m0{
    padding: 0;
    margin: 0;
}
#root{
    top: 0px;
    left: 0px;
    width: 1260px;
    min-height: 990px;
    
    opacity: 1;
}
.heroImage{
    height: 600px;
    width: 100%;
    max-width: 1200px;
    background: transparent linear-gradient(202deg, #30194B00 0%, #30194BCC 61%, #30194B 100%) 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 5px 5px;
    opacity: 1;
}
.HeroImg{
    background: transparent url('./images/HeroImage.png') 100% 100% no-repeat padding-box;
    opacity: 1;
}
#root .card.heroImageCard{
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    top: 150px;
    left: 100px;
}
#root .heroImageCard .card-title{
    top: 141px;
    left: 183px;
    width: 262px;
    height: 39px;
    text-align: left;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#root .heroImageCard .card-subtitle {
    top: 188px;
    left: 183px;
    width: 300px;
    height: 71px;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0px;
    color: #D1C2E1;
    opacity: 1;
}
.button{
    margin: 10px 0;
    width: 300px;
    height: 40px;
    background: #00799E 0% 0% no-repeat padding-box;
    border-radius: 90px;
    color:"#ffffff";
    opacity: 1;
    text-align: center;
    font-size: 14px;
    line-height: 13px;
    letter-spacing: 0px;
}
.button.login{
    background-color: #00799E;
    border-radius: 90px;
    line-height: 26px;
}
.button.createWic{
    background-color: #4A2E62;
    border-radius: 90px;
}
.button.startApp{
    background-color: #6B5A76;
    border-radius: 90px;
}
#root .card-body{
    padding: 0;
}
.commonCardTitle{
    min-width: 20px;
    min-height: 19px;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0px;
    color: #4A2E62;
    opacity: 1;
}
.commonCardSubTitle{
    min-width: 250px;
    min-height: 30px;
    text-align: left;
    font-size: 13px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.commonCardLearnMore{
    min-width: 71px;
    min-height: 19px;
    text-align: left;
    position: relative;
    top: 15px;
    font-size: 14px;
    letter-spacing: 0px;
    color: #307782;
}
.gridWrapper{
    width: 100%;
    margin-top: 11px;
}
.eachGrid{
    width: 32%;
    float: left;
    height: 180px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 2px #0000001A;
    border-radius: 5px;
    opacity: 1;
    
}
.separatorEachGrid{
    width: 2%;
    float: left;
    border: #EFEFF7 solid;
}
.commonImageLogo{
    top: 60px;
    left: 5px;
    width: 70px;
    height: 70px;
    position: relative;
}
.gridWrapper .card,.gridWrapperTestimonial .card{
    border: none;
    top: 30px;
}
.card h5, .card .h5{
    font-size: 16px;
}
.card h6, .card .h6{
    font-size: 13px;
}
.gridWrapperTestimonial .eachGrid{
    width: 49%;
    margin-top: 10px;
}
.gridWrapperTestimonial .commonCardTitle{
    min-width: 74px;
    min-height: 19px;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0px;
    color: #D09AAB;
    opacity: 1;
}
.copyRight{
    float: right;
    min-width: 210px;
    min-height: 16px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0px;
    color: #757575;
    opacity: 1;
}
.privacyPolicy{
    min-width: 111px;
    min-height: 16px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0px;
    color: #4A2E62;
    margin : 0 auto;
}
.heroImage .img-fluid{
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
}
.commonName{
    min-width: 60px;
    min-height: 19px;
    text-align: center;
    font-size:  14px;
    line-height: 35px;
    letter-spacing: 0px;
}
.commonName.hello{
    color: #FFFFFF;
}
.commonName.signout{
    color: #65DCC9;
    padding: 0;
}
.leftNavWrapper .leftTitleMain{
    top: 20px;
    left: 15px;
    min-width: 168px;
    min-height: 29px;
    text-align: left;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #4A2E62;
    font-weight: bold;
    position: relative;
}
.leftNavWrapper .letsStarted{
    top: 10px;
    left: 15px;
    min-width: 165px;
    min-height: 29px;
    text-align: left;
    font-size:  22px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #DF8665;
    position: relative;
    padding-bottom: 30px;
}
.commonCardSubTitle_
{
    top: 15px;
    left: 15px;
    min-width: 194px;
    min-height: 19px;
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #757575;
    opacity: 1;
    position: relative;
    padding: 10px 0;
}
.commonCardSubTitle_.active,.nestedNav .nav-link.active
{
    color: #000000;

}
.nestedNav .nav-link.active
{
    border-bottom: 3px solid #DF8665;
    border-radius: 0;
}
.commonCardSubTitle_.selected{
    color: #00799E;
}
.middleNavWrapper{
    top: 0px;
    left: 83px;
    max-width: 1200px;
    min-height: 202px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 2px #0000001A;
    border-radius: 5px;
    opacity: 1;
    padding: 20px 30px;
    height: 600px;
}
.middleNavWrapper .titleMain{
    min-width: 639px;
    min-height: 26px;
    text-align: left;
    font-size:22px;
    line-height:26px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #00799E;
    opacity: 1;
}
.middleNavWrapper .commonCardSubTitle_.card-subtitle,.nestedNav{
    top:0;
    left: 0;
    border-bottom: 1px solid #0000001A;
    padding: 0 0 20px 0;
    border-radius:0;
}
.middleNavWrapper .commonCardSubTitle_.card-subtitle.noBorder,.noBorder{
    border: none;
    padding: 15px 0 15px 20px;
}
.btn-group._left{
    padding: 0 0 15px 20px;
}
.commonCardSubTitleCheckbox{
    padding: 20px 0 0 0;
}
.commonCardSubTitleCheckbox .form-check-label{
    top: 10px;
    left: 1px;
    min-width: 313px;
    min-height: 19px;
    text-align: left;
    font-size: 14px;
    line-height:18px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.form-check-label{
top: 10px;
left: 1px;
min-width: 313px;
min-height: 19px;
text-align: left;
font-size: 14px;
line-height: 18px;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.leftPanel{
    min-width: 20px;
    min-height: 60px;
    height: 600px;
    background: #F7F7FB 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 0px 5px;
    opacity: 1;
}
.continue{
    width: 100px;
}
.continuetoScheduling{
    width: 200px;
}
.save{
    width: 100px;
}
.continueWrapper{
    clear: both;
    position: relative;
    top: -60px;
    border-top: 1px solid #0000001A;
}
.familyMembersWrapper .bg-dark-new-footer,.familyAdditionWrapper .bg-dark-new-footer{
    top: -60px;
}
.commonCardSubTitleCheckbox._left.card-subtitle.h6{
    clear: both;
}
.callCenterWrapper{
    top: 280px;
    left: 30px;
    min-width: 168px;
    min-height: 77px;
    background: #EEEEF3 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    width: 250px;
    position: relative;
}
.callCenterImg{
    width: 45px;
    height: 45px;
    top: 16px;
    position: relative;
    left: 5px;
}
.callCenterWrapperlineOne,.callCenterWrapperlineTwo,.callCenterWrapperlineThree{
    min-width: 70px;
    min-height: 19px;
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #000000;
}
.callCenterWrapperlineTwo,.callCenterWrapperlineThree{
    font-weight: normal;
    padding: 4px 0 0 0;
}
.callCenterWrapperlineOne{
    position: relative;
    top: 8px;
}
.callCenterWrapperlineThree{
    color: #81629D;
}
#root .noFontBold{
    font-weight: normal;
}
.familyAdditionWrapper .callCenterWrapper{
    top: 170px;
}
.members{
    top: 202px;
    left: 363px;
    min-width: 94px;
    min-height: 29px;
    text-align: left;
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #00799E;
    opacity: 1;
}
#root .membersNewMembersWrapper{
    padding: 20px 0 0 0;
}
.newMember{
    color: #4A2E62;
}
.plusIcon{
    border-radius: 12px 12px 12px 12px;
    background-color: #4A2E62;
    width: 25px;
    height: 25px;
    position: relative;
    display: inline-block;
    color: #fff;
    line-height: 20px;
}
.familyAdditionWrapper .familyMemberIconWrapperName{
    padding: 0;
}
.leftNavWrapper{
    top: 0;
    left: 0;
    min-width: 229px;
    min-height: 20px;
    background: #F7F7FB 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 0px 5px;
    opacity: 1;
    height: 600px;
}
.parentGuardian{
    top: 119px;
    left: 363px;
    min-width: 56px;
    min-height: 24px;
    text-align: left;
    font-size:18px;
    line-height:18px;
    letter-spacing: 0px;
    color: #30194B;
    opacity: 1;
}
.middleNavWrapper.familyMembersListTabs .commonCardSubTitle_.card-subtitle.noBorder{
    border: none;
    padding:0;
}
.middleNavWrapper.nestedNav{
    box-shadow: none;
    min-height: 40px;
    margin: 5px 0 5px 0;
    padding: 0 0 5px 0;
    height: auto;
}
.f400{
    font-weight: 400!important;
}
.borderBottom{
    border-bottom:1px solid #0000001A;
}
.FDPIR.borderBottom{
    padding: 15px 0 30px 0;
}
.medicalID{
    margin: 10px 0 0 30px
}
.formRadio{
    display:inline-block;
    width: 100px;
    float:left;
    padding: 10px 0;
}
.familyMembersListTabs .commonCardSubTitleCheckbox._left._tleft{
    margin: 0 0 5px 30px;
}
.clearBoth{
    clear:both;
}
#root .familyMembersListTabs .btn-light{
    top: 455px;
    left: 394px;
    min-width: 130px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E5E2E9;
    border-radius: 90px;
    opacity: 1;
    font-size:14px;
    line-height:18px;
    font-weight:500;
    letter-spacing: 0px;
    color: #00799E;
    margin:20px 0 0 30px;
}
.imageName,.RemoveLink{
    width: 184px;
    height: 20px;
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #757575;
    opacity: 1;
    position: relative;
    left: 25px;
    top: 20px;
}
.RemoveLink{
    color: #229FB8;
}
.familyAdditionWrapper .leftNavWrapper{
    height:800px;
}
.familyAdditionWrapper .middleNavWrapper.familyMembersListTabs{
    height:800px;
}
.scroolableOnOverflow{
    overflow: auto;
    height: 720px;
}
#root .btn-primary.buttonSummary,#root .btn-primary.buttonSettings{
    min-width: 84px;
    min-height: 32px;
    border-radius: 5px;
    opacity: 1;
    border: none;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}
#root .btn-primary.buttonSummary{
    background: #604378 0% 0% no-repeat padding-box;
}
#root .btn-primary.buttonSettings{
    position: relative;
    top: 0px;
    background: none;
    margin: 0 10px;
}
.mywic{
    margin-right: 40px;
}
.familyHeaderWrapper{
    width: 40px;
    height: 40px;
    margin: 10px 0 10px 0;
    float: left;
}
#root .familyWrapperTitle{
    text-align: left;
    font-size: 18px;
    line-height: 49px;
    font-family: bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    width: auto;
    font-weight: bold;
    position: relative;
    top: 3px;
    left: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.familyWrapperTopNav{
    min-width: 120px;
    min-height: 60px;
    background: #30194B 0% 0% no-repeat padding-box;
    opacity: 1;
}
.familyWrapperTopNav .card{
    background: none;
}
.bellIconWrapper{
    width: 50px;
    height: 26px;
    background: #4A2E62 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    padding: 5px 0 5px 10px;
    margin: 15px 5px 15px 0;
    float: left;
}
.notificationCount{
    position: relative;
    color: #FFFFFF;
    top: -38px;
    left: 6px;
}
.settingIconWrapper{
    width: 18px;
    height: 18px;
    opacity: 1;
    position: relative;
    float: left;
    padding: 5px 0 5px 10px;
    margin: 15px 0 15px 0;
}
#root .iconsWrapper{
    padding: 0;
}
.threePartsGridWrapper .scheduleAppointmentWrapper{
    background: #B95564 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    font-size: 22px;
    line-height: 26px;
    color: #fff;
    text-align: left;
    font-weight: bold;
    position: relative;
    top: 12px;
    margin: 10px 15px 20px 0;
}
.threePartsGridWrapper .BenefitsWrapper,.threePartsGridWrapper .scheduleAppointmentWrapper{
    border: none;
    background: none;
}
.threePartsGridWrapperOne{
    margin: 20px 0;
    height: 200px;
    background: #B95564 0% 0% no-repeat padding-box;
    border-radius: 10px;
}
.BenefitsWrapperYellow.card{
    background-color: none;
}
.BenefitsWrapperYellow{
    min-height: 50px;
    height: 110px;
    background: #FFCE80 0% 0% no-repeat padding-box;
    border-radius: 10px 10px;
    opacity: 1;
    background-color: #FFCE80!important;
}

.threePartsGridWrapperTwo,.threePartsGridWrapperThree{
    padding: 40px 10px;
}
.threePartsGridWrapper{
    min-width: 375px;
    border-bottom: 1px solid #DADAE9;    
}
.plusIconCircle{
    width: 40px!important;
    height: 32px;
    background: #30194B 0% 0% no-repeat padding-box;
    border-radius: 90px;
    opacity: 0.3;
    font-size: 26px;
    line-height: 10px;
    left: 0;
    position: relative!important;
    padding: 8px 8px 4px 6px!important;
}
.plusIconHighlight{
    background: #30194B 0% 0% no-repeat padding-box;
}
.scheduleAppointmentWrapper .scheduleAppointments{
    font-size: 22px;
    line-height: 26px;
    color: #fff;
    text-align: left;
    font-weight: bold;
    position: relative;
    letter-spacing: 0;
    top: 2px;
}
.righIcon{
    height: 14px;
    opacity: 1;
    color: #f4f4f4;
    font-size: 26px;
    width: 10px!important;
    position: relative!important;
    padding: 5px 0 0 0;
    line-height: 16px;
    left: -20px;
    font-weight: bold;
}
.benefitsTextOne{
    text-align: left;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.benefitsTextTwo{
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.row .appoitmentWrapperCallMap,.row .btn-primary:hover{
    width: 72px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 90px;
    opacity: 1;
    margin: 2px 5px;
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #00799E;
    opacity: 1;
    border: none;
    font-weight: bold;
}
.threePartsGridWrapperTwo .HeaderLeft,.threePartsGridWrapperThree .HeaderLeft{
    text-align: left;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #00799E;
    opacity: 1;
    font-weight: bold;

}
.threePartsGridWrapperTwo .plusIconGrey{
    color: #fff;
}
.tickIcon{
    padding: 10px;
}
.membersWrapper .card,.membersWrapper.card{
    border: none;
    border-radius: 0;
}
.membersWrapperNameOne{
    text-align: left;
    font-size: 18px!important;
    line-height: 8px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.membersWrapperNameTwo
{
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #81629D;
    opacity: 1;
}
.membersWrappeExpiresrOne{
    text-align: right;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #716977;
    opacity: 1;
}
#root .membersWrapper .row.eachRowFamilyMembers{
    padding: 0px 0 15px 0;
    border-bottom: 1px solid #DADAE9;
    margin-top: 10px;
}
.familyHeaderWrapper.membersRounded{
    margin: 0;
}
.eachRowFamilyMembers .card-title{
    margin-bottom: 0;
}
.eachRowFamilyMembers .righIcon{
    background: #fff 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #B2A8B8 ;
    padding: 10px 0 0 30px;
}
#root .threePartsGridWrapperThree .row.eachRowFamilyMembers{
    padding: 5px 0 25px 0;
}
.beginText{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #00799E;
    opacity: 1;
    font-weight: bold;
    padding: 2px 18px 0 20px!important;
}
.threePartsGridWrapperThree .eachRowFamilyMembers .righIcon{
    padding: 0 0 0 30px;
}
.BenefitsWrapperYellow .card{
    border: none;
    background: none;
}
.BenefitsWrapperYellow .benefitsTextOne{
    text-align: left;
    font-size:  22px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #30194B;
    opacity: 1;
    padding: 16px 0 10px 0;
}
.threeMembers{
    text-align: left;
    font-size: 16px;
    line-height: 8px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.BenefitsWrapperYellow .righIcon{
    color: #716977;
}

.familyMembersWrapper .commonImageLogo{
    width: 45px;
    height: 45px;
}
#popover-contained{
    width: 250px!important;
    left: -35px!important;
}
#popover-contained .arrow{
    left: 46px!important;
}
#popover-contained .title{
    text-align: left;
    font-size: 18px;
    line-height:18px;
    font-weight:bold;
    letter-spacing: 0px;
    color: #4A2E62;
    opacity: 1;
}
.commonPop{
    text-align: center;
    font-size: 14px;
    line-height: 35px;
    letter-spacing: 0px;
    color: #00799E;
    opacity: 1;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: left;
}
.commonPop.Logout{
    padding: 20px 0px 30px 10px;
}